<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
<!--  CheckBox单选框-->
  <label for="agree">
    <input type="checkbox" id="agree" v-model="isAgree">同意协议
  </label>
  <h2>你选择的是：{{isAgree}}</h2>
  <button v-bind:disabled="!isAgree">下一步</button>

<!--  CheckBox复选框-->
<!--  <label for="">-->
    <input type="checkbox" value="篮球" v-model="hobbies">篮球
    <input type="checkbox" value="足球" v-model="hobbies">足球
    <input type="checkbox" value="羽毛球" v-model="hobbies">羽毛球
    <input type="checkbox" value="棒球" v-model="hobbies">棒球
  <h2>你选择的是：{{hobbies}}</h2>

<!--  </label>-->
</div>

<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el: "#app",
    data: {
      message: "你好啊",
      isAgree: false, //单选框
      hobbies: [] //多选框
    }
  })
</script>

</body>
</html>